.search {
  position: relative;
}
.search__group {
  background-color: var(--white);
  border-radius: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

.search__input {
  font-size: 1rem;
  border: transparent solid 2px;
  width: 300px;
}

.search__options {
  border: none;
  outline: none;
  background-color: rgb(187, 238, 153);
  padding: 0.5rem;
  font-size: 1rem;
}
