.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1.5rem 20%;
}

.header__nav {
  color: var(--white);
  font-size: 2rem;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
}
